Source: grass
Section: science
Priority: optional
Maintainer: Federico Di Gregorio <fog@debian.org>
Uploaders: Francesco Paolo Lovergine <frankie@debian.org>
Build-depends: flex, bison, libncurses5-dev, postgresql-dev, debhelper (>> 3), libtiff3g-dev, libgd2-dev, tcl8.4-dev, tk8.4-dev, fftw-dev, dpatch, xlibmesa-gl-dev, xlibmesa-glu-dev, libfreetype6-dev, autoconf2.13, autotools-dev
Standards-Version: 3.6.1

Package: grass
Architecture: any
Depends: ${shlibs:Depends},csh|c-shell
Suggests: proj, grass-doc
Description: Geographic Resources Analysis Support System
 GRASS is a Geographic Information System (GIS) used for data
 management, image processing, graphics production, spatial modeling,
 and visualization of many types of data. Originally written by the
 U.S. Army Construction Engineering Research Laboratories (USA-CERL)
 branch of the US Army Corp of Engineers as a tool for land management
 and environmental planning by the military, GRASS has evolved into a
 powerful utility with a wide range of applications in many different
 areas of scientific research. GRASS is currently used in academic and
 commercial settings around the world, as well as many governmental
 agencies including NASA, NOAA, USDA, the National Park Service, the
 U.S. Census Bureau, USGS, and many environmental consulting companies.

Package: grass-doc
Architecture: all
Description: Geographic Resources Analysis Support System documentation
 GRASS is a Geographic Information System (GIS) used for data
 management, image processing, graphics production, spatial modeling,
 and visualization of many types of data. Originally written by the
 U.S. Army Construction Engineering Research Laboratories (USA-CERL)
 branch of the US Army Corp of Engineers as a tool for land management
 and environmental planning by the military, GRASS has evolved into a
 powerful utility with a wide range of applications in many different
 areas of scientific research. GRASS is currently used in academic and
 commercial settings around the world, as well as many governmental
 agencies including NASA, NOAA, USDA, the National Park Service, the
 U.S. Census Bureau, USGS, and many environmental consulting companies.
 .
 This package contains HTML and PDF documentation for the GRASS system.
