Source: grass
Section: science
Priority: optional
Maintainer: Debian GIS Project <pkg-grass-devel@lists.alioth.debian.org>
Uploaders: Francesco Paolo Lovergine <frankie@debian.org>, Steve Halasz <debian@adkgis.org>
Build-depends: flex, bison, libreadline5-dev | libreadline-dev, libncurses5-dev, lesstif2-dev, debhelper (>= 5), dpatch, 
 libtiff4-dev, tcl-dev (>= 8.4) | tcl8.4-dev, tk-dev (>= 8.4) | tk8.4-dev, fftw3-dev, libxmu-dev, libglu1-mesa-dev | libglu1-xorg-dev, 
 libfreetype6-dev, autoconf2.13, autotools-dev, libgdal1-dev (>=1.4.0) | libgdal1-1.3.2-dev, proj (>= 4.4.7), libjpeg62-dev, 
 libpng12-dev, libpq-dev, unixodbc-dev, doxygen, fakeroot, libmysqlclient15-dev, graphviz, libsqlite3-dev 
Standards-Version: 3.7.3
Homepage: http://grass.itc.it/

Package: grass
Section: science
Architecture: any
Depends: ${shlibs:Depends}, xterm | x-terminal-emulator
Provides: libgrass
Conflicts: libgrass
Replaces: libgrass
Suggests: grass-doc, gdal-bin, e00compr, avce00, gpstrans, gnuplot
Description: Geographic Resources Analysis Support System
 Commonly referred to as GRASS, this is a Geographic Information
 System (GIS) used for geospatial data management and analysis,
 image processing, graphics/map production, spatial modeling, and
 visualization. GRASS is currently used in academic and commercial
 settings around the world, as well as by many government agencies
 and environmental consulting companies.

Package: grass-doc
Section: science
Architecture: all
Description: Geographic Resources Analysis Support System documentation
 Commonly referred to as GRASS, this is a Geographic Information
 System (GIS) used for geospatial data management and analysis,
 image processing, graphics/map production, spatial modeling, and
 visualization. GRASS is currently used in academic and commercial
 settings around the world, as well as by many government agencies
 and environmental consulting companies.
 .
 This package contains HTML documentation for the GRASS system.

Package: grass-dev
Section: devel
Architecture: any
Depends: ${shlibs:Depends}, grass (= ${binary:Version})
Provides: libgrass-dev
Conflicts: libgrass-dev
Replaces: libgrass-dev
Suggests: pkg-config
Description: GRASS GIS development files
 Commonly referred to as GRASS, this is a Geographic Information
 System (GIS) used for geospatial data management and analysis,
 image processing, graphics/map production, spatial modeling, and
 visualization. GRASS is currently used in academic and commercial
 settings around the world, as well as by many government agencies
 and environmental consulting companies.
 .
 This package contains the header files for developing with GRASS.
 Install this package if you wish to develop software that manipulates
 GRASS data sets.
